* {
  box-sizing: border-box;

  &:focus {
    outline: none;
    border: none;
  }
}

:root {
  --bg-main: rgba(243, 243, 242, 0.8);
  --cl-moon-yellow: rgba(240, 196, 32, 1);
  --cl-light-moon-yellow: rgba(240, 196, 32, 0.5);
  --cl-light-grey: rgba(72, 72, 72, 0.8);
  --cl-btn-close: rgba(207, 0, 15, 1);
}

body {
  font-size: 16px;
  margin: 0;
  overflow: hidden;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
  margin-block-end: 0;
  margin-block-start: 0;
}

.App {
  background: var(--bg-main);
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.content {
  display: flex;
  justify-content: center;
  position: relative;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

h2 {
  color: var(--cl-moon-yellow);
  font-size: 3rem;
}

h3 {
  color: var(--cl-light-grey);
  font-size: 2.25rem;
}

h4 {
  color: var(--cl-light-grey);
  font-size: 1.5rem;
}

h5 {
  color: var(--cl-light-grey);
  font-size: 1rem;
}

input {
  border: none;

  &:focus {
    box-shadow: 0 0 4px var(--cl-moon-yellow);
  }
}

button {
  align-items: center;
  background-color: transparent;
  border: none;
  padding: 0;
}

img {
  max-width: 100%;
}

span.page {
  bottom: 20%;
  font-size: 8px;
  position: absolute;
  right: 44.5%;
  transform: translateX(-44.5%);
  user-select: none;
}
